<form asp-controller="User" asp-action="Logoff">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sair</h5>
            <p class="card-text">Você reamente deseja sair?</p>
            <input type="submit" value="Sim" class="btn btn-primary" />
        </div>
    </div>
</form>
